[mysqld]
server-id=2
log-bin=mysql-bin
relay-log=relay-bin
read-only=1
replicate-do-db=commanddb
require_secure_transport=ON
ssl-ca=/etc/mysql/ssl/ca-cert.pem
ssl-cert=/etc/mysql/ssl/server-cert.pem
ssl-key=/etc/mysql/ssl/server-key.pem